@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Ubuntu:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

.Navbar {
  display: flex;
  width: 100%;
  padding: 3.5vh 0;
  position: fixed;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.NavbarScroll {
  display: flex;
  width: 100%;
  padding: 3.5vh 0;
  position: fixed;
  z-index: 1;
  background: white;
  transition: 0.3s ease-in-out;
  box-shadow: 0 3px 1.5rem rgba(0, 0, 0, 0.2);
}
.Logo {
  flex: 2;
  text-align: center;
  padding-left: 10vh;
}

.Logo h1 {
  font-family: Poppins;
  font-weight: 300;
}

.Options {
  flex: 8;
  text-align: right;
  font-size: 23px;
  font-weight: 300;
  background: none !important;
  padding-right: 10vh;
}

.Options span {
  margin: 0 2%;
  cursor: pointer;
  background: none !important;
}

.option {
  text-decoration: none;
  font-family: Poppins;
  color: #fff;
  background: none !important;
  position: relative;
  transition: 0.3s ease-in-out;
}
.option:after {
  content: "";
  height: 2px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.5s ease-in-out;
}
.option:hover::after {
  width: 100%;
}

.optionScroll {
  text-decoration: none;
  font-family: Poppins;
  color: #384c68;
  background: none !important;
  position: relative;
  transition: 0.3s ease-in-out;
}
.optionScroll:after {
  content: "";
  height: 2px;
  width: 0;
  background: #384c68;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.5s ease-in-out;
}
.optionScroll:hover::after {
  width: 100%;
}
